$color-white: #dddddd;
$color-primary: #1ba19e;

.sectionAboutMe {
  margin-top: 40%;
  height: 70vh;
  background-size: cover;
  background-position: top;
  font-family: "Libre Franklin";

  @include respond(tab-land) {
    height: 80vh;
  }

  @include respond(phone) {
    height: 120vh;
  }
}

.aboutMeParagraph {
  font-family: "Roboto";
  font-size: 2rem;
  font-weight: 300;
  margin-top: 6%;
  margin-bottom: 0.25rem;
  margin-left: -30rem;
  color: #cdcdcd;
  letter-spacing: 1.2;
  line-height: 30px;
  width: 50%;

  @include respond(tab-land) {
    margin-top: 10%;
  }

  @include respond(phone) {
    font-size: 2rem;
    margin-left: -20rem;
    margin-top: 40%;
    width: 300%;
  }
}

.techSVG {
  width: 10%;
  height: 10%;
  margin-top: 10%;
  margin-left: 15%;

  @include respond(tab-land) {
    width: 15%;
    height: 15%;
    margin-top: 20%;
  }

  @include respond(phone) {
    display: none;
  }
}

.designSVG {
  width: 10%;
  height: 10%;
  margin-top: 10%;
  margin-left: 8%;

  @include respond(tab-land) {
    width: 15%;
    height: 15%;
    margin-top: 20%;
    margin-right: 20%;
  }

  @include respond(phone) {
    display: none;
  }
}

.internetSVG {
  width: 15%;
  height: 15%;
  margin-top: 23%;
  margin-left: -22%;

  @include respond(tab-land) {
    width: 25%;
    height: 25%;
    margin-top: 40%;
    margin-left: -31%;
    display: none;
  }

  @include respond(phone) {
    display: none;
  }
}

// desert section

.desertImg {
  height: 100vh;
  width: 100%;
  margin-top: 40%;
}

.desertSection {
  height: 70vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(20, 37, 37, 0.7)),
      to(rgba(20, 37, 37, 0.7))
    ),
    url(/src/img/desert.jpg);
  background-image: linear-gradient(
      rgba(20, 37, 37, 0.7),
      rgba(20, 37, 37, 0.7)
    ),
    url(/src/img/desert.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.aboutme_header {
  text-align: center;
  color: $color-white;
  padding: 1rem;
  position: relative;
}

.aboutme_header h1 {
  color: $color-white;
  font-size: 5rem;
  font-family: Chelsea Market;
  font-weight: 700;
  letter-spacing: 0.2rem;
  cursor: default;
  margin-top: -7%;
  width: 170%;

  @include respond(tab-land) {
    margin-left: -60%;
  }

  @include respond(phone) {
    margin-top: 10%;
    margin-left: -15%;
  }
}
