$color-white: rgb(221, 221, 221);
$color-primary-light-darker: #50b33fcc;
$color-primary-dark: #16a072cc;
$color-black: #000;
$default-font-size: 1.8rem;
$smaller-font-size: 1.6rem;

// .heading-primary {
//   color: $color-white;
//   text-transform: uppercase;
//   margin-bottom: 6rem;
//   backface-visibility: hidden;
//   position: absolute;
//   top: 15rem;
//   left: 15rem;
//   font-family: Chelsea Market;

//   /* backface-visibility: hidden; -hogy ne razkodjon */

//   &--main {
//     display: block;
//     font-size: 7rem;
//     font-weight: 700;
//     letter-spacing: 1rem;

//     animation-name: moveInLeft;
//     animation-duration: 1s;
//     animation-timing-function: ease-out;
//   }

//   &--sub {
//     display: block;
//     font-size: 4rem;
//     font-weight: 700;
//     letter-spacing: 1rem;

//     animation: moveInRight 1s ease-out;
//   }
// }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: rgb(155, 155, 155);
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  position: absolute;
  bottom: 42%;
  left: 13%;
  font-family: Indie Flower;

  animation: moveInBottom 1s ease-out;

  @include respond(tab-land) {
    bottom: 43%;
    font-size: 2rem;
  }

  @include respond(phone) {
    bottom: 45%;
    font-size: 2rem;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

// Projects section

#projectsTitle {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  cursor: default;

  @include respond(tab-land) {
    margin-bottom: -7%;
    margin-left: 0%;
  }

  @include respond(phone) {
    margin-bottom: -30%;
    margin-left: 5%;
  }
}

// Aboutme section
#projectsTitleAboutMe {
  display: flex;
  position: relative;
  position: absolute;
  margin-top: -15%;
  margin-left: 15%;
  cursor: default;

  @include respond(phone) {
  }
}

.work__title-aboutme {
  text-align: left;
  font-size: 4rem;
  font-weight: 500;
  margin-left: 1rem;
  font-family: Chelsea Market;
  color: $color-white;
  letter-spacing: 1;

  @include respond(tab-land) {
    left: 60%;
  }

  @include respond(phone) {
    padding-left: 5%;
  }
}
