$color-white: rgb(221, 221, 221);
$color-primary: #1ba19e;

.section {
  padding: 4.5rem 0 1rem;
}

.sectionProjects {
  height: 180vh;
  background-size: cover;
  background-position: top;
}

.container {
  max-width: 1000px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

.work__container {
  padding-top: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  @include respond(phone) {
    width: 80%;
  }
}

.work__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  font-size: 200%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.work__item {
  cursor: pointer;
  color: $color-primary;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

.work__card {
  background-color: #1d2d2d;
  padding: 1rem;
  border-radius: 1rem;
}

.work__img {
  border-radius: 1rem;
  margin-bottom: 0.75rem;
  width: 100%;
  filter: brightness(90%);
}

.work__title {
  text-align: left;
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  margin-left: 3rem;
  color: $color-white;
  letter-spacing: 1;
}

.work__button {
  width: max-content;
  color: $color-primary;
  font-size: 2rem;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  margin-left: 80%;
  text-decoration: none;
}

.work__button:hover .work__icon {
  transform: translateX(0.25rem);
}

.work__icon {
  font-size: 1rem;
  transition: 0.4s;
}

.arrow {
  margin-top: 10%;
}

// Active item work
.active-work {
  background-color: $color-primary;
  color: #1d2d2d;
}

// All projects button
button,
button::after {
  width: 380px;
  height: 86px;
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(45deg, transparent 5%, $color-primary 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 10px 0px 0px rgb(15, 89, 95);
  outline: transparent;
  position: fixed;
  top: 10px;
  left: -40px;
  transform: scale(0.6);
  cursor: pointer;

  @include respond(phone) {
    display: none;
  }
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "AVAILABLE NOW";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    rgb(15, 89, 95) 3%,
    rgb(15, 89, 95) 5%,
    #4ce5c6 5%
  );
  text-shadow: -3px -3px 0px #00e6f6, 3px 3px 0px #4ce5c6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
